@use "variables";
@use "_footer";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin main-color($hover:true){
    @apply text-white;
    background-color: variables.$mainColor;
    @if($hover){
        &:hover{
            background-color: variables.$mainColorHover;
        }
    }
}

@layer base {
    form{
        label{
            @apply font-bold;
        }

        > div{
            @apply mt-2;
        }

        input[type=text], input[type=password], input[type=email], select, .form-control{
            @apply w-full rounded  focus:ring-transparent;
            border: variables.$borderSize variables.$borderStyle variables.$formElementsBorderColor;
            &:focus{
                outline: variables.$mainColor;
                border-color: variables.$mainColor;
            }
        }

    }

    table{
        td, th{
            @apply border-collapse  p-2 ;
            border: variables.$borderSize variables.$borderStyle variables.$tableBorderColor;
        }

        th{
            background-color: variables.$tableBgColor;
        }
    }

    svg{
        @apply inline;
    }

    input[type=checkbox]{
        @apply h-4 w-4 rounded border-gray-300 focus:ring-transparent;
        color: variables.$mainColor;
    }

}

@layer components {
    .uploadBtn{
        @apply inline-flex items-center px-4 py-2 bg-green-800 border border-transparent rounded-md font-semibold text-xs
        text-white uppercase tracking-widest hover:bg-green-700 focus:bg-green-700 active:bg-green-900 focus:outline-none
        focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
    }

    .btn{
        @apply p-1 rounded-md text-white font-bold cursor-pointer hover:shadow-md;
    }

    .btn-style{
        @include main-color();
    }

    .btn-checkout{
        background-color: variables.$btnCheckoutColor;
        @apply p-2 mt-4;
        &:hover{
            background-color: variables.$btnCheckoutColorHover;
        }
    }

    .primary-btn{
        @apply inline-flex text-center justify-center  px-4 py-2 border border-transparent rounded-md font-semibold text-xs  uppercase tracking-widest
        focus:outline-none  transition ease-in-out duration-150;
        @include main-color();
    }

    .pagination-link-active{
        @include main-color();
    }

    .pagination-link{
        @apply p-2 text-sm sm:p-3 border border-slate-300;
    }

    .cart-product-amount{
        @apply absolute rounded-full h-6 w-6 text-center left-5 bottom-3;
        @include main-color(false);
    }

    .adminCard{
        @apply relative text-3xl text-slate-800 font-bold shadow-lg rounded-lg p-24 border border-slate-300  text-center justify-center;
        background: linear-gradient(45deg,variables.$mainColor, #fff);
    }

    .error{
        @apply text-red-600 font-bold;
    }

    .active-wish-list{
        color: variables.$mainColor;
    }

    .not-in-stock{
        background-color: variables.$notInStockColor;
    }
    .edit-btn{
        background-color: variables.$editColorBtn;
        &:hover{
            background-color: variables.$editColorBtnHover;
        }
    }

    .default-component{
        @apply max-w-7xl mx-auto;
    }

    main{
        @apply p-4 lg:pr-0 lg:pl-0;
    }

    nav, .dropdown-menu{
        @apply text-white;
        background-color: variables.$navColor;
    }

    .filter-icon{
        color: variables.$mainColor;
    }

    .product-filter-form{
        label{
            @apply font-normal ml-3;
        }
        .category{
            margin-left: 15px;
        }
    }

    .tab{
        @apply shadow rounded-lg p-2 text-lg font-medium  focus:outline-none active:outline-none;
        &.active-tab{
            @apply border;
            border-color: variables.$mainColor;
        }
    }

    .map{
        .info-window div:nth-child(odd){
            @apply font-bold;
        }

    }

}

nav{
    .router-link-active{
        @apply underline;
    }
}

.custom-toast {
    background-color: variables.$mainColor!important;
    color: white;
}

:root {
    --primary-color: #{variables.$mainColor}; // Interpolating the Sass variable
}
