$tableBgColor : rgba(229, 231, 235, 1);
$tableBorderColor : rgba(107, 114, 128,1);
$formElementsBorderColor : rgba(107, 114, 128,1);
$borderSize : 1px;
$borderStyle : solid;
$btnAdditionalColor: #1d4ed8;
$btnAdditionalColorHover: #083fce;
$btnCheckoutColor: #387F39;
$btnCheckoutColorHover: #A2CA71;

$mainColor:#5C8374;
$mainColorHover:#1B4242;
$mainColorName:'emerald';

$notInStockColor:#FFD369;
$editColorBtn:#F9D276;
$editColorBtnHover:#ECBC55;

$navColor:#092635;
