$tableBgColor : rgba(229, 231, 235, 1);
$tableBorderColor : rgba(107, 114, 128,1);
$formElementsBorderColor : rgba(107, 114, 128,1);
$borderSize : 1px;
$borderStyle : solid;
$btnAdditionalColor: #1d4ed8;
$btnAdditionalColorHover: #083fce;
